In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
import seaborn as sns
df=pd.read_csv(r'C:\Users\Ernest\Downloads\players.csv')
df

,Playerid,FirstName,LastName,Age,BirthDate,Height,Weight,Nationality,Club,Value_eur,Wage_eur,Team_Position
0,1,Lionel Andrés,Messi,32,1987-06-24,170,72,ARG,FC Barcelona,96,565,RW
1,2,Cristiano Ronaldo,dos Santos,34,1985-02-05,187,83,PRT,Juventus,59,405,LW
2,3,Neymar,da Silva,27,1992-02-05,175,68,BRA,Paris Saint-Germain,106,290,CAM
3,4,Jan,Oblak,26,1993-01-07,188,87,SGP,Atlético Madrid,78,125,GK
4,5,Eden,Hazard,28,1991-01-07,175,74,BLX,Real Madrid,90,470,LW
...,...,...,...,...,...,...,...,...,...,...,...,...
143,144,José María,Callejón,32,1987-02-11,178,73,ESP,Napoli,24,96,RM
144,145,İlkay,Gündoğan,28,1990-10-24,180,80,DEU,Manchester City,31,180,CM
145,146,Paulo,Bezzera,30,1988-07-25,183,80,BRA,Guangzhou Evergrande Taobao FC,29,43,CM
146,147,Kyle,Walker,29,1990-05-28,183,70,UK,Manchester City,26,165,RB
147,148,Sergio,Canales,28,1991-02-16,176,65,ESP,Real Betis,32,44,CM

In [2]:
#finding the first 5 entries in the table
df.head()

,Playerid,FirstName,LastName,Age,BirthDate,Height,Weight,Nationality,Club,Value_eur,Wage_eur,Team_Position
0,1,Lionel Andrés,Messi,32,1987-06-24,170,72,ARG,FC Barcelona,96,565,RW
1,2,Cristiano Ronaldo,dos Santos,34,1985-02-05,187,83,PRT,Juventus,59,405,LW
2,3,Neymar,da Silva,27,1992-02-05,175,68,BRA,Paris Saint-Germain,106,290,CAM
3,4,Jan,Oblak,26,1993-01-07,188,87,SGP,Atlético Madrid,78,125,GK
4,5,Eden,Hazard,28,1991-01-07,175,74,BLX,Real Madrid,90,470,LW

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Playerid       148 non-null    int64
 1   FirstName      148 non-null    object
 2   LastName       148 non-null    object
 3   Age            148 non-null    int64
 4   BirthDate      148 non-null    object
 5   Height         148 non-null    int64
 6   Weight         148 non-null    int64
 7   Nationality    148 non-null    object
 8   Club           148 non-null    object
 9   Value_eur      148 non-null    int64
 10  Wage_eur       148 non-null    int64
 11  Team_Position  148 non-null    object
dtypes: int64(6), object(6)
memory usage: 14.0+ KB

In [4]:
#Descriptive statistics
df.describe()

         Playerid         Age      Height      Weight   Value_eur    Wage_eur
count  148.000000  148.000000  148.000000  148.000000  148.000000  148.000000
mean    74.500000   28.020270  182.790541   78.101351   43.750000  160.236486
std     42.868014    3.594155    7.227361    7.823512   17.392185   89.653252
min      1.000000   19.000000  163.000000   59.000000    7.000000   15.000000
25%     37.750000   25.750000  178.000000   73.000000   32.000000  105.000000
50%     74.500000   28.000000  183.000000   78.000000   41.000000  150.000000
75%    111.250000   31.000000  188.000000   83.000000   52.000000  205.000000
max    148.000000   37.000000  199.000000   97.000000  106.000000  565.000000

In [ ]:
# cheking for duplicates in the table
df.drop_duplicates()

In [9]:
print(df.corr().abs()[["Age"]])

                Age
Playerid   0.066471
Age        1.000000
Height     0.039709
Weight     0.053634
Value_eur  0.408994
Wage_eur   0.184268

In [10]:
print(df['Nationality'].unique())

['ARG' 'PRT' 'BRA' 'SGP' 'BLX' 'DEU' 'NPL' 'HRV' 'EGY' 'FRA' 'SEN' 'UK'
 'ESP' 'ITA' 'URY' 'POL' 'DNK' 'GAB' 'CRI' 'SVK' 'BIH' 'SER' 'STK' 'HUN'
 'CHE' 'GRC' 'AUT' 'MAR' 'SWE' 'WLK' 'COL' 'CZE' 'CHL']

In [5]:
#filtering dataframes
df[df['Nationality'].str.lower()=='bra']

,Playerid,FirstName,LastName,Age,BirthDate,Height,Weight,Nationality,Club,Value_eur,Wage_eur,Team_Position
2,3,Neymar,da Silva,27,1992-02-05,175,68,BRA,Paris Saint-Germain,106,290,CAM
13,14,Alisson,Becker,26,1992-10-02,191,91,BRA,Liverpool,58,155,GK
25,26,Ederson,Santana,25,1993-08-17,188,86,BRA,Manchester City,55,185,GK
41,42,Carlos,Casimiro,27,1992-02-23,185,84,BRA,Real Madrid,54,240,CDM
42,43,Fernando,Luiz,34,1985-05-04,179,67,BRA,Manchester City,20,200,CDM
43,44,Thiago,da Silva,34,1984-09-22,183,82,BRA,Paris Saint-Germain,19,135,LF
54,55,Marcos,Aoás,25,1994-05-14,183,75,BRA,Paris Saint-Germain,52,120,RB
61,62,Roberto,Firmino,27,1991-10-02,181,76,BRA,Liverpool,52,170,CF
66,67,Philippe,Coutinho,27,1992-06-12,172,68,BRA,FC Bayern München,47,175,CM
79,80,Fábio,Henrique,25,1993-10-23,188,78,BRA,Liverpool,45,125,CDM
89,90,Norberto,Murara,29,1989-07-19,190,84,BRA,FC Barcelona,31,175,GK
99,100,Marcelo,Vieira,31,1988-05-12,174,75,BRA,Real Madrid,28,205,LF
101,102,Alex,Sandro,28,1991-01-26,180,80,BRA,Juventus,33,155,LF
105,106,Allan,Marques,28,1991-01-08,175,74,BRA,Napoli,38,110,CM
113,114,Arthur,Ramos,22,1996-08-12,171,73,BRA,FC Barcelona,41,180,CM
122,123,Alex,Nicolao,26,1992-12-15,181,71,BRA,FC Porto,33,23,LF
125,126,Felipe,Pereira,26,1993-04-15,175,70,BRA,West Ham United,37,125,RM
132,133,Lucas,Pezzini,32,1987-01-09,179,78,BRA,Lazio,21,71,LM
145,146,Paulo,Bezzera,30,1988-07-25,183,80,BRA,Guangzhou Evergrande Taobao FC,29,43,CM